name: Deploy on GitHub Pages
on:
  push:
    branches: [master]

env:
  ONTOLOGY_NAME: temgo
  ONTOLOGY_IRI: https://www.ntnu.edu/temgemini/vocab/temgo

permissions:
  contents: write


jobs:
  deploy-on-ghpages:
    #concurrency: ci-${{ github.ref }}  # Recommended if you intend to make multiple deployments in quick succession.
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install EMMOntoPy
      run: |
        pip install --upgrade pip
        pip install EMMOntoPy

    - name: Install tripper
      run: |
        pip install tripper[datadoc]
        #pip install -U git+https://github.com/EMMC-ASBL/tripper.git@master
        pip install -U git+https://github.com/EMMC-ASBL/tripper.git@document-selected-namespace
    - name: Install ROBOT
      run: |
        mkdir bin
        wget -nv https://github.com/ontodev/robot/releases/download/v1.9.6/robot.jar
        mv robot.jar bin/.
        curl https://raw.githubusercontent.com/ontodev/robot/master/bin/robot > bin/robot
        chmod +x bin/robot
        ls -l bin/

    - name: Download Widoco
      run: |
        wget --quiet https://github.com/dgarijo/Widoco/releases/download/v1.4.25/widoco-1.4.25-jar-with-dependencies_JDK-17.jar

    - name: Create squashed ontology
      run: |
        mkdir build
        cp README.md LICENSE build/.
        ontoconvert \
            -saw \
            --namespace="emmo:https://w3id.org/emmo#" \
            ${ONTOLOGY_NAME}-dependencies.ttl \
            build/${ONTOLOGY_NAME}-dependencies.ttl
        ontoconvert \
            -sawe \
            --base-iri="${ONTOLOGY_IRI}#" \
            --iri="${ONTOLOGY_IRI}" \
            ${ONTOLOGY_NAME}.ttl \
            build/${ONTOLOGY_NAME}.ttl

    - name: Create inferred ontology
      run: |
        # Running HermiT via ontoconvert fails with custom datatypes.
        # Use ROBOT instead.
        #
        #ontoconvert \
        #    -sawe \
        #    --base-iri="${ONTOLOGY_IRI}#" \
        #    --iri="${ONTOLOGY_IRI}" \
        #    --infer=HermiT \
        #    ${ONTOLOGY_NAME}.ttl \
        #    build/${ONTOLOGY_NAME}-inferred.ttl
        #
        bin/robot reason \
            --reasoner HermiT \
            --input build/${ONTOLOGY_NAME}.ttl \
            --output build/${ONTOLOGY_NAME}-inferred.ttl

    - name: Generate markdown documentation of all keywords
      run: |
        keywords -i temgo.ttl --keywords build/temgo.md --theme ddoc:temgo --redefine=allow

    - name: Generate Widoco documentation
      run: |
        java -jar widoco-1.4.25-jar-with-dependencies_JDK-17.jar \
            -ontFile temgo.ttl \
            -outFolder build/widoco \
            -getOntologyMetadata \
            -rewriteAll \
            -includeImportedOntologies \
            -licensius \
            -includeAnnotationProperties


    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: build
        branch: gh-pages
